a {
	color: #8c8c8c;
}

#bodyhomepage {
	background-color: #f2f2f2;
	background-image: url("immagini/Immagine_di_sfondo_gardening.jpeg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}

#bodynormale {
	background-color: #62466d;

}

.btn {
	font-family: "Lucida Console", monospace;
	color: #a383af;
	border: 4px;
	background-color: white;
 	border-radius: 12px;
 	transition-duration: 0.2s;
 	cursor: pointer; 
 	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.btn-toolbar-vertical{
	margin: auto;

}

.btn:hover { 
	color: #f2f2f2;
}

.card-img-top {
	width: 17,5rem;
	height: 21rem;
	object-fit: cover;
}

.card-img-left {
	width: 13rem;
	height: 12rem;
	object-fit: cover;
}

.card-img-bottom {
	width: 11rem;
	height: 10rem;
	object-fit: cover;
}

#carditem { 
	margin-left: 3px;
	margin-right: 3px;
}

.carousel-caption {
	background-color: rgba(64, 64, 64, 0.79);
	left: 0; 
	right: 0; 
	width: 100%;

}

.catalogotitolo {
	font-family: "Lucida Console", monospace;
	font-size: 22px;
	text-align: center;
}

.container {
	margin-top: 30px;
	

}

#containercard {
	background: transparent;
}

.containercataloghi {
	background-color: rgba(242, 242, 242, 0.79);
	padding: 20px;
	margin-top: 40px;
	text-align: center;

}

.container-fluid {
	background-color: rgba(242, 242, 242, 0.79);
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;

}

.descrizioneopera {
	color:#7f5a8c;
}

.form-check-label {
	color: #f2f2f2;
}

#fotocard {
	width: auto;
	height: 400px;
}

#fotocard-percorsi {
	width: 20rem;
	height: 17rem;
	object-fit: cover;
}

h1, h2, h3, h5, .navbar-brand{
	font-family: "Lucida Console", monospace;
	color: #7f5a8c; 
}

p, .nav-link, .dropdown-item, .sr-only, #sottotitolo {
	font-family: "Helvetica", sans-serif;
	color: #404040;

}

h1, #sottotitolo {
	color: #f2f2f2;

}

h2 {
	text-align: center;
}


h3{
	text-align: center;
}


h6 { 
	color:#f2f2f2;
	font-family: "Lucinda Console", monospace;
}

h7 {
	color: #a383af;
}


li a:hover {
	color: #f2f2f2;
}

nav {
	background-color: transparent;
}

.nav-item {
	color: #a383af;
}

nav .breadcrumb {

	font-size: 14px;
	background-color: transparent;
	margin-bottom: 5px;
	width: 30%;
	display: block;

}

p {
	font-size: 15px;
}

.pagination { 
	display: inline-block;
	text-align: center;

}

.pagination a {
	font-family: "Helvetica", sans-serif;
	color: #f2f2f2;
	float: center;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
}

.pagination a:hover {
	background-color: #404040;
}

.pagination a.active {
  background-color: #f2f2f2;
  color: #7f5a8c;
}

th, td {
	color: #404040;
}

.titolofiltri {

	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	color: #f2f2f2;
	text-align: center;

}

#titoloitem {
	color: #a383af;
}


#titolopercorsi {
	color: #f2f2f2;
}



